---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Us"
	description="About Computer Science Club"
	pubDate={new Date("August 08 2021")}
	heroImage={AboutHeroImage}
>
	<p>
		The Computer Science Club is a student-led organization dedicated to
		enabling students to explore and excel in the field of computer science.
		Our mission is to foster a collaborative environment where members can
		learn, share knowledge, and work on exciting projects together.
	</p>

	<section id="calendar">
		<h2>Meeting Schedule</h2>
		<iframe
			src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&showPrint=0&src=Y18xY2RkZGE4YmNlZWQxYjk5MWJjNWNjZmNkNDI2NzM3OWJjNDI1NTM5YTRlNjQyMDEwNzc3MzU5MmIzOTk3MGE2QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%237986cb"
			style="border-radius: var(--border-radius);"
			width="720"
			height="600"
			frameborder="0"
			scrolling="no"
		></iframe>
	</section>
</Layout>
